@use './variables' as *;
@use './mixins' as *;

.seventh-section {
    background-color: $black;
    border-radius: 10px;
    margin: 8px;
    padding: 10vh 0;

    h1 {
        color: $white;
        font-size: calc(2rem + 3vw);
        text-transform: uppercase;
    }

    .contact-box {
        padding: 20px;
        color: $white;
        border-radius: 20px;
        border: 1px $white solid;

        input,
        textarea {
            background-color: $black;
            color: $white;
            // opacity: 0.4;

            // &:focus,
            // &:focus ~ label {
            //   opacity: 1;
            // }
        }

        label {
            color: $white !important;
            // opacity: .4;
        }

        // .interest-radio{

        // }

        .custom-radio {
            display: inline-block;
            position: relative;
            padding-left: 30px;
            margin-right: 15px;
            cursor: pointer;
        }
        .btn{
            @include button();
        }
    }
}