@use './variables' as *;

@mixin black-section {
  width: 99vw;
  color: $white;
  min-height: 100vh;
  margin: 0 auto;
}

@mixin title($color: $white, $spanm: -1vw) {
  font: 400 4rem "Chakra Petch";
  font-size: clamp(2.5rem, 5vw, 9rem);
  text-transform: uppercase;
  color: $color;

  span {
    font: 300 4rem "fk";
    font-size: clamp(2.5rem, 5vw, 9rem);
    margin: $spanm;
    // padding-left: 10px;

    span:nth-child(1) {
      animation: glitch 3s infinite 1s;
    }

    span:nth-child(2) {
      animation: glitch 2.6s infinite 0.8s;
    }

    span:nth-child(3) {
      animation: glitch 3.2s infinite 1s;
    }

    span:nth-child(4) {
      animation: glitch 2.2s infinite 1.6s;
    }

    span:nth-child(5) {
      animation: glitch 2s infinite 2s;
    }

    span:nth-child(6) {
      animation: glitch 1.2s infinite 1s;
    }

    span:nth-child(7) {
      animation: glitch 2s infinite 3s;
    }

    span:nth-child(8) {
      animation: glitch 2.3s infinite 1.2s;
    }

    span:nth-child(9) {
      animation: glitch 1.2s infinite 4s;
    }

    span:nth-child(10) {
      animation: glitch 1s infinite 2s;
    }
  }
}

@mixin cursor-global {
  border-radius: 100%;
  z-index: 1000000000000000000000;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

@mixin skill-global($bg-color: #3e3e3e, $text-color: $white) {
  background-color: $bg-color;
  color: $text-color;
  width: 80%;
  padding: 2.3rem 2.3rem 1.5rem 2.3rem;
  overflow: hidden;
  border-radius: 3.5rem;
}

@mixin button($w:100%) {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  width: $w;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

  border: 1px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
  overflow: hidden;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
    // border-radius: 1rem;
  }

  &:hover {
    color: rgb(0, 0, 0);
  }

  &:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
    border-radius: 0;
  }

  &:active {
    top: 2px;
  }
}