$black: #121212;
$gray: #9b9b9b;
$white: #fefefe;
$skillcolor1: #222831;
$skillcolor2: #6b9a9c;
$skillcolor3: #dcdcdc;
$title-font: 600 7rem "Chakra Petch", sans-serif;
$main-section-font: 600 12rem "Chakra Petch", sans-serif;
$second-section-font: 300 10rem "Chakra Petch", sans-serif;
$third-section-font: 600 3rem "Chakra Petch", sans-serif;
