@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css");
@import url("https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css");
@import url("https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css");
@import url("https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css");
@import url("https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  list-style: none;
  text-decoration: none;
}

html{
  scroll-behavior: smooth;

}

body::-webkit-scrollbar {
  appearance: none;
  display: none;
}
body {
  /* max-width: 100vw; */
  /* overflow-x: hidden; */
}

main{
    z-index: -100;
}
/* ----------------------------------------------
    ROOT
-----------------------------------------------*/
:root {
  --black: #121212;
  --gray:#c0c0c0;
  --white: #fefefe;
  --main-font: 500 12rem "Rubik", sans-serif;
}

/* ----------------------------------------------
    MAIN SECTION
-----------------------------------------------*/
.main-section {
  background: var(--black);
  height: 100vh;
  padding: 45px;
}
.main-section .container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
}
.main-section_main-content {
  color: var(--white);
  font: var(--main-font);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.main-section_bottom-content {
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 0.4rem;
  margin-top: auto;
}

.social {
  display: flex;
  flex-direction: column;
  color: inherit;
  row-gap: 0.5rem;
}

.social a {
  color: inherit;
}

.scroll-navigation {
  writing-mode: vertical-rl;
  font-size: larger;
}

.top{
    z-index: 10000;
}

nav {
  position: fixed;
  top: 40px;
  right: 40px;
  mix-blend-mode: difference;
}

.burger {
  /* z-index: 1000; */
  width: 75px;
  display: flex;
  flex-direction: column;
  transition: all .3s linear;
  gap: 8px;
  cursor: pointer;
}

.burger:hover div {
  opacity: 0.6;
}

.burger div {
  background-color: var(--white);
  mix-blend-mode: difference;
  transition: all 0.3s linear;
  height: 6px;
}

.burger div:nth-child(1) {
  width: 75%;
  margin-left: auto;
}
.burger div:nth-child(2) {
  width: 60%;
  margin-left: auto;
}

.burger-body {
  position: fixed;
  height: 100vh;
  /* width: 50%; */
  top: 0;
  right: 0;
  background-color: var(--white);
  mix-blend-mode: normal;
  transform: translate(100%);
  transition: all .4s ease-in-out;
  padding: 100px 100px 0 100px;
}

.burger-body ul li a {
  font-size: 1.5rem;
  color: var(--black);
  font-weight: 500;
}

.burger-body.active {
  transform: translate(0%);
}

.second-section{
  background: var(--white);
  color: var(--black);
  height: 100vh;
  padding: 45px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.third-section{
  background: var(--black);
  height: 100vh;
  padding: 45px;
}
