@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-display: swap;
  font-family: fk;
  font-style: normal;
  font-weight: 400;
  src: url(https://izzulaverroes.github.io/font/fk.woff2) format("woff2"), url(https://izzulaverroes.github.io/font/fk.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Monorama;
  font-style: normal;
  font-weight: 400;
  src: url(https://izzulaverroes.github.io/font/monorama.woff2) format("woff2"), url(https://izzulaverroes.github.io/font/monorama.woff) format("woff");
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch", sans-serif;
  list-style: none;
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
  display: none;
}

.cursor {
  border-radius: 100%;
  z-index: 1000000000000000;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  width: 35px;
  height: 35px;
  background-color: #fefefe;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.cursor-outline {
  border-radius: 100%;
  z-index: 1000000000000000;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  width: 45px;
  height: 45px;
  border: #fefefe 3px solid;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.hover {
  width: 55px;
  height: 55px;
}

.hoverO {
  width: 65px;
  height: 65px;
}

.hover-link {
  width: 75px;
  height: 75px;
}

.hoverO-link {
  display: none;
}

.top {
  z-index: 10000000000000;
}
.top nav {
  background-color: #fefefe;
  padding: 20px 40px 20px 100px;
  position: fixed;
  top: 0px;
  right: 0px;
  border-radius: 0 0 0 10px;
}
.top nav svg:nth-child(1) {
  position: absolute;
  top: 8px;
  left: -13px;
}
.top nav svg:nth-child(2) {
  position: absolute;
  bottom: -13px;
  right: 8px;
}
.top nav .frame-svg {
  position: fixed;
  left: 8px;
  top: 7.4px;
  transform: rotate(270deg);
}
.top nav .frame-svg-r {
  position: fixed;
  right: 8px;
  bottom: 7.4px;
  transform: rotate(90deg);
}
.top nav .frame-svg-b {
  position: fixed;
  left: 7.4px;
  bottom: 8px;
  transform: rotate(180deg);
}
.top nav .frame {
  width: 100vw;
  height: 8px;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
}
.top nav .frame-r {
  width: 8px;
  height: 100vh;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  right: 0;
}
.top nav .frame-b {
  width: 100vw;
  height: 8px;
  background-color: #fefefe;
  position: fixed;
  bottom: 0;
  left: 0;
}
.top nav .frame-l {
  width: 8px;
  height: 100vh;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
}
.top nav .logo {
  width: 100px;
  height: 100px;
  background-color: #fefefe;
  border-radius: 0 0 10px 0;
  position: fixed;
  top: -100px;
  left: -100px;
  transition: top 0.2s ease-in-out 0.2s, left 0.2s ease-in-out 0.2s, width 0.2s ease-in 0.2s, height 0.2s ease-in 0.2s;
  display: flex;
}
.top nav .logo svg:nth-child(3) {
  position: absolute;
  bottom: -12.2px;
  left: 8px;
  transform: rotate(-90deg);
}
.top nav .logo svg:nth-child(2) {
  position: absolute;
  top: 7.4px;
  right: -13px;
  transform: rotate(-90deg);
}
.top nav .logo:hover {
  width: 110px;
  height: 200px;
}
.top nav .logo-active {
  top: 0;
  left: 0;
}
.top nav .logo-zull {
  color: #121212;
  font-family: "Chakra Petch";
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 93.769%;
  text-transform: uppercase;
  /* 1.99256rem */
}
.top nav .logo-zull span:nth-child(2) {
  color: #121212;
  letter-spacing: 0.21625rem;
}
.top .burger {
  /* z-index: 1000; */
  width: 75px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s linear;
  gap: 8px;
  cursor: pointer;
}
.top .burger:hover div {
  opacity: 0.6;
}
.top .burger div {
  background-color: #121212;
  transition: all 0.2s ease-in-out;
  height: 6px;
}
.top .burger div:nth-child(1) {
  width: 75%;
  margin-left: auto;
}
.top .burger div:nth-child(2) {
  width: 60%;
  margin-left: auto;
}
.top .burger:hover div {
  width: 100%;
}
@keyframes bounce-nav {
  0%, 20%, 50%, 80%, 100% {
    width: 100%;
  }
  40% {
    width: 130%;
  }
  60% {
    width: 115%;
  }
}
.top .burger-body {
  position: fixed;
  height: 100vh;
  /* width: 50%; */
  top: 0;
  right: 0;
  background-color: #fefefe;
  mix-blend-mode: normal;
  transform: translate(100%);
  transition: all 0.4s ease-in-out;
  padding: 100px 100px 0 100px;
}
.top .burger-body ul li div {
  position: relative;
  top: -19px;
  left: -7px;
  width: 0px;
  height: 20px;
  background-color: #c0c0c0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.top .burger-body ul li:hover div {
  width: 50px;
}
.top .burger-body ul li a {
  font-size: 1.5rem;
  color: #121212;
  font-weight: 600;
}
.top .burger-body.active {
  transform: translate(0%);
}
@keyframes wave {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2.6);
  }
  100% {
    transform: scaleY(1);
  }
}
.top .sound-bar-wrapper {
  background-color: #fefefe;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 8px;
  bottom: 30px;
  border-radius: 10px 0 0 10px;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
}
.top .sound-bar-wrapper div {
  background-color: #121212;
  width: 3.2px;
  height: 5px;
}
.top .sound-bar-wrapper.active div:nth-child(1) {
  animation: wave 1.5s linear infinite;
}
.top .sound-bar-wrapper.active div:nth-child(2) {
  animation: wave 1.5s linear infinite 0.4s;
}
.top .sound-bar-wrapper.active div:nth-child(3) {
  animation: wave 1.5s linear infinite 0.8s;
}
.top .sound-bar-wrapper.active div:nth-child(4) {
  animation: wave 1.5s linear infinite 1.2s;
}
.top .sound-bar-wrapper svg:nth-child(5) {
  position: absolute;
  top: -12.2px;
  right: 0;
  transform: rotate(90deg);
}
.top .sound-bar-wrapper svg:nth-child(6) {
  position: absolute;
  bottom: -12.2px;
  right: 0;
}

.main-section {
  margin: 8px;
  background: #121212;
  height: 98vh;
  padding: 45px;
  border-radius: 10px;
}
.main-section .container {
  display: flex;
  flex-direction: column;
  /* width: auto; */
  height: 100%;
  margin: 0;
  padding: 0;
}
.main-section .main-content {
  margin: auto;
}
.main-section .main-content h1 {
  color: #fefefe;
  font: 600 12rem "Chakra Petch", sans-serif;
}
.main-section .bottom-content {
  color: #fefefe;
  width: 100%;
  display: flex;
  justify-content: space-between;
  row-gap: 0.4rem;
  margin-top: auto;
  position: absolute;
  bottom: 0;
}
.main-section .zull_svg {
  animation: 10s ease-in-out infinite alternate rotate;
  /* margin-bottom : 70px; */
}
@media screen and (max-width: 768px) {
  .main-section .zull_svg {
    display: none;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(720deg);
  }
}
.main-section .scroll-navigation {
  writing-mode: vertical-rl;
  font-size: larger;
  animation: bounce 2s ease infinite;
  margin: 30px 0;
  color: #fefefe;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.second-section {
  color: #121212;
  min-height: 100vh;
  overflow: hidden;
  padding: 45px;
  display: flex;
  align-items: center;
}
.second-section h1 {
  font: 600 10rem "Chakra Petch", sans-serif;
  white-space: nowrap;
}

.black-section {
  background-color: #121212;
  border-radius: 10px !important;
  overflow: hidden;
  margin: 0 8px;
}

.third-section {
  width: 99vw;
  color: #fefefe;
  min-height: 100vh;
  margin: 0 auto;
  padding: 45px 0;
}
.third-section > * {
  color: #fefefe;
}
.third-section h1:nth-child(1) {
  font: 400 4rem "Chakra Petch";
  text-transform: uppercase;
  color: #fefefe;
  padding-left: 100px;
  padding-bottom: 50px;
}
.third-section h1:nth-child(1) span {
  font: 300 4rem "fk";
  margin: -10px;
}
.third-section h1:nth-child(1) span span:nth-child(1) {
  animation: glitch 3s infinite 1s;
}
.third-section h1:nth-child(1) span span:nth-child(2) {
  animation: glitch 2.6s infinite 0.8s;
}
.third-section h1:nth-child(1) span span:nth-child(3) {
  animation: glitch 3.2s infinite 1s;
}
.third-section h1:nth-child(1) span span:nth-child(4) {
  animation: glitch 2.2s infinite 1.6s;
}
.third-section h1:nth-child(1) span span:nth-child(5) {
  animation: glitch 2s infinite 2s;
}
.third-section h1:nth-child(1) span span:nth-child(6) {
  animation: glitch 1.2s infinite 1s;
}
.third-section h1:nth-child(1) span span:nth-child(7) {
  animation: glitch 2s infinite 3s;
}
.third-section h1:nth-child(1) span span:nth-child(8) {
  animation: glitch 2.3s infinite 1.2s;
}
.third-section h1:nth-child(1) span span:nth-child(9) {
  animation: glitch 1.2s infinite 4s;
}
.third-section h1:nth-child(1) span span:nth-child(10) {
  animation: glitch 1s infinite 2s;
}
@keyframes glitch {
  0%, 20%, 40%, 100% {
    opacity: 1;
  }
  21%, 22%, 39%, 50%, 99% {
    opacity: 0.2;
  }
}
.third-section h1:nth-child(2) {
  font: 300 2.8rem "Chakra Petch";
  text-transform: uppercase;
  background-color: #fefefe;
  color: #121212;
  display: inline;
  padding: 10px 50px;
  border-radius: 0 10px 10px 0;
  position: relative;
  transition: all 0.2s ease;
}
.third-section h1:nth-child(2) svg:nth-child(2) {
  position: absolute;
  top: -12px;
  left: -0.8px;
  transform: rotate(180deg);
}
.third-section h1:nth-child(2) svg:nth-child(3) {
  position: absolute;
  bottom: -12.2px;
  left: 0px;
  transform: rotate(-90deg);
}
.third-section h1:nth-child(2) svg:nth-child(1) {
  transition: all 0.2s ease;
  margin-left: 10px;
}
.third-section h1:nth-child(2):hover {
  padding: 10px 60px;
}
.third-section h1:nth-child(2):hover svg:nth-child(1) {
  transform: rotate(45deg);
}
.third-section .ts_main-content {
  transition: all 0.3s ease;
  padding: 0 50px;
}
.third-section .ts_main-content h2 {
  text-transform: uppercase;
  font-size: calc(3rem + 1.895vw);
  font-weight: 400;
}
.third-section .ts_main-content p {
  display: none;
  color: #9b9b9b;
}
.third-section .ts_main-content:hover {
  background-color: #fefefe;
  color: #121212;
  padding: 10px 70px;
}
.third-section .ts_main-content:hover p {
  display: inline;
  transition: all 0.3s ease;
  font-size: 1rem;
}
.third-section .swiper-slide img {
  max-width: 30vw;
  aspect-ratio: 1/1;
  border-radius: 10px;
  border: 8px solid #fefefe;
}

.plus-play svg {
  transition: all 0.28s ease;
}
.plus-play svg:hover {
  transform: rotate(0.25turn);
}

.fourth-section {
  width: 99vw;
  color: #fefefe;
  min-height: 100vh;
  margin: 0 auto;
}
.fourth-section .fs_title {
  color: #121212;
  background-color: #fefefe;
  font-size: calc(3rem + 5vw);
  position: relative;
  text-align: center;
  padding: 20px 0px;
}
.fourth-section .fs_title svg:nth-child(1) {
  position: absolute;
  transform: rotate(90deg);
  top: -12px;
  right: 2px;
}
.fourth-section .fs_title svg:nth-child(2) {
  position: absolute;
  transform: rotate(0deg);
  bottom: -12px;
  right: 2px;
}
.fourth-section .fs_title svg:nth-child(3) {
  position: absolute;
  transform: rotate(180deg);
  top: -12px;
  left: 0;
}
.fourth-section .fs_title svg:nth-child(4) {
  position: absolute;
  transform: rotate(-90deg);
  bottom: -12px;
  left: 0;
}

.fs_main-content {
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
}
.fs_main-content:hover {
  opacity: 1;
}

.fifth-section {
  width: 99vw;
  color: #fefefe;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
  border-radius: 0 0 10px 10px;
  position: relative;
}
.fifth-section h1 {
  font: 400 4rem "Chakra Petch";
  text-transform: uppercase;
  color: #fefefe;
  padding-left: 100px;
  padding-bottom: 50px;
}
.fifth-section h1 span {
  font: 300 4rem "fk";
  margin: -10px;
}
.fifth-section h1 span span:nth-child(1) {
  animation: glitch 3s infinite 1s;
}
.fifth-section h1 span span:nth-child(2) {
  animation: glitch 2.6s infinite 0.8s;
}
.fifth-section h1 span span:nth-child(3) {
  animation: glitch 3.2s infinite 1s;
}
.fifth-section h1 span span:nth-child(4) {
  animation: glitch 2.2s infinite 1.6s;
}
.fifth-section h1 span span:nth-child(5) {
  animation: glitch 2s infinite 2s;
}
.fifth-section h1 span span:nth-child(6) {
  animation: glitch 1.2s infinite 1s;
}
.fifth-section h1 span span:nth-child(7) {
  animation: glitch 2s infinite 3s;
}
.fifth-section h1 span span:nth-child(8) {
  animation: glitch 2.3s infinite 1.2s;
}
.fifth-section h1 span span:nth-child(9) {
  animation: glitch 1.2s infinite 4s;
}
.fifth-section h1 span span:nth-child(10) {
  animation: glitch 1s infinite 2s;
}
.fifth-section .container .work-hover {
  background-color: #121212;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in 0.2s;
}
.fifth-section .container .work-hover:hover {
  opacity: 1;
  transition: opacity 0s;
}
.fifth-section .container .main-work {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 2rem;
  border: 8px solid #fefefe;
  aspect-ratio: 16/8;
}
.fifth-section .container .main-work img {
  width: 100%;
  height: 100%;
}
.fifth-section .container .main-work .work-hover-wrapper {
  width: 101%;
  height: 101%;
  z-index: 10;
  position: absolute;
  display: grid;
  z-index: 0;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.fifth-section .container .more-work {
  border: rgba(255, 255, 255, 0.3843137255) 1.1px solid;
  width: 100%;
  display: flex !important;
}
.fifth-section .container .more-work svg {
  transition: transform 1.4s ease-in-out;
  margin: auto !important;
}
.fifth-section .container .more-work svg:hover {
  transform: rotate(360deg);
}
.fifth-section .container .more-work p {
  font: 500 1.8rem "Chakra Petch", sans-serif;
  color: #fefefe !important;
}
.fifth-section .container .side-work {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 2rem;
  border: 8px solid #fefefe;
  aspect-ratio: 16/9;
}
.fifth-section .container .side-work img {
  width: 100%;
  height: 100%;
}
.fifth-section .container .side-work .work-hover-wrapper {
  width: 101%;
  height: 101%;
  z-index: 10;
  position: absolute;
  display: grid;
  z-index: 0;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.fifth-section .container .work-des:hover a span {
  width: 100%;
}
.fifth-section .container .work-des a {
  color: #fefefe;
}
.fifth-section .container .work-des a span {
  transition: all 0.2s ease-in;
  display: block;
  background-color: #fefefe;
  width: 0%;
  height: 2px;
  border-radius: 2px;
}
.fifth-section .fifth-transition {
  background-color: #fefefe;
  width: 40vw;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px 0 0 0;
}
.fifth-section .fifth-transition svg:nth-child(1) {
  position: absolute;
  bottom: -1px;
  left: -13px;
  transform: rotate(90deg);
}
.fifth-section .fifth-transition svg:nth-child(2) {
  position: absolute;
  top: -12.4px;
  right: 0px;
  transform: rotate(90deg);
}

.sixth-section {
  background-color: #fefefe;
}
.sixth-section h1 {
  font: 600 7rem "Chakra Petch", sans-serif;
}
.sixth-section .skill-slider {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 300%;
  gap: 2rem;
}
.sixth-section .skill-slider .skill img {
  max-width: 250px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.sixth-section .skill-slider .skill p {
  font: 400 2.4rem "Chakra Petch", sans-serif;
  text-transform: uppercase;
}
.sixth-section .skill-slider .skill h2 {
  font-size: 4rem;
  margin: 0;
}
.sixth-section .skill-slider .skill:nth-child(2) {
  background-color: #222831;
  color: #fefefe;
  width: 80%;
  padding: 2.3rem 2.3rem 1.5rem 2.3rem;
  overflow: hidden;
  border-radius: 3.5rem;
}
.sixth-section .skill-slider .skill:nth-child(3) {
  background-color: #6b9a9c;
  color: #fefefe;
  width: 80%;
  padding: 2.3rem 2.3rem 1.5rem 2.3rem;
  overflow: hidden;
  border-radius: 3.5rem;
}
.sixth-section .skill-slider .skill:nth-child(4) {
  background-color: #dcdcdc;
  color: #121212;
  width: 80%;
  padding: 2.3rem 2.3rem 1.5rem 2.3rem;
  overflow: hidden;
  border-radius: 3.5rem;
}/*# sourceMappingURL=style.css.map */