@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

// ==============================================
// VARIABLE
// ==============================================

$black: #121212;
$gray: #9b9b9b;
$white: #fefefe;
$title-font: 600 7rem "Chakra Petch", sans-serif;
$main-section-font: 600 12rem "Chakra Petch", sans-serif;
$second-section-font: 300 10rem "Chakra Petch", sans-serif;
$third-section-font: 600 3rem "Chakra Petch", sans-serif;

// ==============================================
// CUSTOM FONT
// ==============================================
@font-face {
  font-display: swap;
  font-family: fk;
  font-style: normal;
  font-weight: 400;
  src: url(https://izzulaverroes.github.io/font/fk.woff2) format("woff2"),
    url(https://izzulaverroes.github.io/font/fk.woff) format("woff");
}

@font-face {
  font-display: swap;
  font-family: Monorama;
  font-style: normal;
  font-weight: 400;
  src: url(https://izzulaverroes.github.io/font/monorama.woff2) format("woff2"),
    url(https://izzulaverroes.github.io/font/monorama.woff) format("woff");
}

// ==============================================
// GLOBAL RESET
// ==============================================
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch", sans-serif;
  list-style: none;
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
  // cursor: none;
  // transition: scroll 11s ease-in-out 1s;
}

::-webkit-scrollbar {
  appearance: none;
  display: none;
}

// ==============================================
// GLOBAL MIXIN
// ==============================================
@mixin black-section {
  width: 99vw;
  color: $white;
  min-height: 100vh;
  margin: 0 auto;
}

@mixin title($color: $white, $pl: 100px, $pb: 50px) {
  font: 400 4rem "Chakra Petch";
  text-transform: uppercase;
  color: $color;
  padding-left: $pl;
  padding-bottom: $pb;

  span {
    font: 300 4rem "fk";
    margin: -10px;
    // padding-left: 10px;

    span:nth-child(1) {
      animation: glitch 3s infinite 1s;
    }

    span:nth-child(2) {
      animation: glitch 2.6s infinite 0.8s;
    }

    span:nth-child(3) {
      animation: glitch 3.2s infinite 1s;
    }

    span:nth-child(4) {
      animation: glitch 2.2s infinite 1.6s;
    }

    span:nth-child(5) {
      animation: glitch 2s infinite 2s;
    }

    span:nth-child(6) {
      animation: glitch 1.2s infinite 1s;
    }

    span:nth-child(7) {
      animation: glitch 2s infinite 3s;
    }

    span:nth-child(8) {
      animation: glitch 2.3s infinite 1.2s;
    }

    span:nth-child(9) {
      animation: glitch 1.2s infinite 4s;
    }

    span:nth-child(10) {
      animation: glitch 1s infinite 2s;
    }
  }
}

// ==============================================
// CURSOR
// ==============================================
@mixin cursor-global {
  border-radius: 100%;
  z-index: 1000000000000000;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.cursor {
  @include cursor-global();
  width: 35px;
  height: 35px;
  background-color: $white;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.cursor-outline {
  @include cursor-global();
  width: 45px;
  height: 45px;
  border: $white 3px solid;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.hover {
  width: 55px;
  height: 55px;
}

.hoverO {
  width: 65px;
  height: 65px;
}

.hover-link {
  width: 75px;
  height: 75px;
}

.hover-text{
  width: 105px;
  height: 105px;
}

.hoverO-link {
  display: none;
}

// ==============================================
// LOADER
// ==============================================

.transition {
  width: 100vw;
  height: 100vh;
  // background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000000000000;
}

.loaded-finish.transition {
  z-index: -1000;
}

.transition div {
  width: 100vw;
  height: calc(100vh / 7);
  background-color: $white;
  /* border: #121212 1px solid; */
  /* transition: all 1s ease-in-out; */
  transform: translateX(-100%);
}

.transition.loaded div:nth-child(1) {
  animation: loaderOut 0.9s ease-in-out 1 both,
    loaderIn 0.9s ease-in-out 4s both;
}

.transition.loaded div:nth-child(2) {
  animation: loaderOut 0.9s ease-in-out 0.2s 1 both,
    loaderIn 0.9s ease-in-out 4.2s both;
}

.transition.loaded div:nth-child(3) {
  animation: loaderOut 0.9s ease-in-out 0.4s 1 both,
    loaderIn 0.9s ease-in-out 4.4s both;
}

.transition.loaded div:nth-child(4) {
  animation: loaderOut 0.9s ease-in-out 0.6s 1 both,
    loaderIn 0.9s ease-in-out 4.6s both;
  /* display: flex; */
  text-align: center;

}

.transition.loaded div:nth-child(4) h1 {
  animation: fade 3s ease-in-out 1.6s 1 both;
}

.transition.loaded div:nth-child(5) {
  animation: loaderOut 0.9s ease-in-out 0.8s 1 both,
    loaderIn 0.9s ease-in-out 4.8s both;
}

.transition.loaded div:nth-child(6) {
  animation: loaderOut 0.9s ease-in-out 1s 1 both,
    loaderIn 0.9s ease-in-out 5s both;
}

.transition.loaded div:nth-child(7) {
  animation: loaderOut 0.9s ease-in-out 1.2s 1 both,
    loaderIn 0.9s ease-in-out 5.2s both;
}

@keyframes loaderIn {
  to {
    transform: translateX(100%);
  }
}

@keyframes loaderOut {
  to {
    transform: translateX(0);
  }
}

@keyframes fade {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $black;
  z-index: 100000;
  padding: 25px;
  color: $white;
  display: flex;
  flex-direction: column;
}

.loader-bar {
  margin-top: auto;
  width: 100%;
  height: 10vh;
  background-color: #ffffff63;
  border-radius: 20px;
  overflow: hidden;

  div {
    height: 100%;
    width: 0%;
    border-radius: 20px;
    background-color: $white;
  }
}


// ==============================================
// NAV
// ==============================================
.top {
  z-index: 10000000000000;

  //   position: fixed;
  nav {
    background-color: $white;
    // width: 100px;
    // height: 40px;
    padding: 20px 40px 20px 100px;
    transition: padding .4s ease;

    &:hover {
      padding: 20px 40px 20px 120px;
    }

    position: fixed;
    top: 0px;
    right: 0px;
    border-radius: 0 0 0 10px;

    // mix-blend-mode: difference;
    svg:nth-child(1) {
      position: absolute;
      top: 8px;
      left: -13px;
    }

    svg:nth-child(2) {
      position: absolute;
      bottom: -13px;
      right: 8px;
    }

    .frame-svg {
      position: fixed;
      left: 8px;
      top: 7.4px;
      transform: rotate(270deg);
    }

    .frame-svg-r {
      position: fixed;
      right: 8px;
      bottom: 7.4px;
      transform: rotate(90deg);
    }

    .frame-svg-b {
      position: fixed;
      left: 7.4px;
      bottom: 8px;
      transform: rotate(180deg);
    }

    .frame {
      width: 100vw;
      height: 8px;
      background-color: $white;
      position: fixed;
      top: 0;
      left: 0;
    }

    .frame-r {
      width: 8px;
      height: 100vh;
      background-color: $white;
      position: fixed;
      top: 0;
      right: 0;
    }

    .frame-b {
      width: 100vw;
      height: 8px;
      background-color: $white;
      position: fixed;
      bottom: 0;
      left: 0;
    }

    .frame-l {
      width: 8px;
      height: 100vh;
      background-color: $white;
      position: fixed;
      top: 0;
      left: 0;
    }

    .logo {
      width: 100px;
      height: 100px;
      background-color: $white;
      border-radius: 0 0 10px 0;
      position: fixed;
      top: -100px;
      left: -100px;
      transition: top 0.2s ease-in-out 0.2s, left 0.2s ease-in-out 0.2s,
        width 0.2s ease-in 0.2s, height 0.2s ease-in 0.2s;
      display: flex;

      & svg:nth-child(3) {
        position: absolute;
        bottom: -12.2px;
        left: 8px;
        transform: rotate(-90deg);
      }

      & svg:nth-child(2) {
        position: absolute;
        top: 7.4px;
        right: -13px;
        transform: rotate(-90deg);
      }

      &:hover {
        width: 110px;
        height: 200px;
      }
    }

    .logo-active {
      top: 0;
      left: 0;
    }

    .logo-zull {
      color: $black;
      font-family: "Chakra Petch";
      font-size: 2.125rem;
      font-style: normal;
      font-weight: 600;
      line-height: 93.769%;
      text-transform: uppercase;
      /* 1.99256rem */

      span:nth-child(2) {
        color: $black;
        letter-spacing: 0.21625rem;
      }
    }

    &:hover .burger div {
      opacity: 0.6;
    }

    & div:nth-child(1) {
      width: 75%;
      margin-left: auto;
      // animation: bounce-nav .8s ease-in-out;
    }

    & div:nth-child(2) {
      width: 60%;
      margin-left: auto;
      // animation: bounce-nav .8s ease-in-out;
    }

    &:hover .burger div {
      width: 100%;
      // animation: bounce-nav .8s ease-in-out;
    }
  }

  .burger {
    /* z-index: 1000; */
    width: 75px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s linear;
    gap: 8px;
    cursor: pointer;

    & div {
      background-color: $black;
      // mix-blend-mode: difference;
      transition: all 0.2s ease-in-out;
      // animation: bounce-nav .8s ease-in-out;
      border-radius: 10px;
      height: 6px;
    }


    @keyframes bounce-nav {

      0%,
      20%,
      50%,
      80%,
      100% {
        // transform: translateX(0);
        // transform: scaleX(1);
        width: 100%;
      }

      40% {
        // transform: translateX(-30px);
        // transform: scaleX(1.5);
        width: 130%;
      }

      60% {
        // transform: translateX(-15px);
        // transform: scaleX(1.3);
        width: 115%;
      }
    }
  }

  .burger-body {
    position: fixed;
    height: 100vh;
    /* width: 50%; */
    top: 0;
    right: 0;
    background-color: $white;
    mix-blend-mode: normal;
    transform: translate(100%);
    transition: all 0.4s ease-in-out;
    padding: 100px 100px 0 100px;

    ul li div {
      position: relative;
      top: -19px;
      left: -7px;
      width: 0px;
      height: 20px;
      background-color: #c0c0c0;
      z-index: -1;
      transition: all 0.3s ease-in-out;
    }

    & ul li:hover div {
      width: 50px;
    }

    ul li a {
      font-size: 1.5rem;
      color: $black;
      font-weight: 600;
    }

    svg:nth-child(1) {
      position: absolute;
      top: 8px;
      left: -12.2px;
    }

    svg:nth-child(2) {
      position: absolute;
      bottom: 8px;
      left: -12.2px;
      transform: rotate(90deg);
    }
  }

  .burger-body.active {
    transform: translate(0%);
  }

  @keyframes wave {
    0% {
      transform: scaleY(1);
    }

    // 25% {
    //   transform: scaleY(.2);
    // }

    50% {
      transform: scaleY(2.6);
    }

    100% {
      transform: scaleY(1);
    }
  }

  .sound-bar-wrapper {
    background-color: $white;
    width: 35px;
    height: 35px;
    position: fixed;
    right: 8px;
    bottom: 30px;
    border-radius: 10px 0 0 10px;
    display: flex;
    gap: 1.5px;
    align-items: center;
    justify-content: center;

    div {
      background-color: $black;
      width: 3.2px;
      height: 5px;
    }

    &.on div:nth-child(1) {
      animation: wave 1.5s linear infinite;
    }

    &.on div:nth-child(2) {
      animation: wave 1.5s linear infinite 0.4s;
    }

    &.on div:nth-child(3) {
      animation: wave 1.5s linear infinite 0.8s;
    }

    &.on div:nth-child(4) {
      animation: wave 1.5s linear infinite 1.2s;
    }

    svg:nth-child(5) {
      position: absolute;
      top: -12.2px;
      right: 0;
      transform: rotate(90deg);
    }

    svg:nth-child(6) {
      position: absolute;
      bottom: -12.2px;
      right: 0;
    }

    transform: translateX(110%);
    transition: transform .4s ease;

    &.active {
      transform: translateX(0%);
    }

    &.on:hover {
      #soundOnText {
        // display: block;
        opacity: 1;
      }
    }

    &.off:hover {
      #soundOffText {
        // display: block;
        opacity: 1;
      }
    }

    #soundOnText,
    #soundOffText {
      // transition: all .2s ease;
      transition: all .2s ease;
      // display: none;
      opacity: 0;
      position: absolute;
      top: 15%;
      left: -30px;
      color: $gray;
    }
  }
}

.back-top {
  position: fixed;
  bottom: 8px;
  left: 8px;
  border-radius: 10px;
  background-color: $black;
  padding: 10px;
  // display: block;
  // padding: 20px;
  // width: 40px;
  // height: 40px;


}

// ==============================================
// MAIN SECTION
// ==============================================

.main-section {
  margin: 8px;
  background: $black;
  height: 98vh;
  // padding: 45px;
  border-radius: 10px;

  .container- {
    display: flex;
    // flex-direction: column;
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .main-content {
    margin: auto;

    h1 {
      color: $white;
      font: $main-section-font;
    }

    svg {
      margin-bottom: 1rem;
      animation: 10s ease-in-out infinite alternate rotate;

    }
  }

  .bottom-content {
    color: $white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    row-gap: 0.4rem;
    margin-top: auto;
    position: absolute;
    bottom: 0;
  }


  @media screen and (max-width: 768px) {
    .zull_svg {
      display: none;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(720deg);
    }
  }

  .scroll-navigation {
    writing-mode: vertical-rl;
    font-size: larger;
    animation: bounce 2s ease infinite;
    margin: 30px 0;
    color: $white;
  }

  @keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-30px);
    }

    60% {
      transform: translateY(-15px);
    }
  }
}

// ==============================================
// SECOND SECTION
// ==============================================
.second-section {
  // position: relative;
  color: $black;
  // background: center / cover url("/assets/img/second-back.png");
  min-height: 100vh;
  overflow: hidden;
  padding: 45px;
  display: flex;
  align-items: center;

  h1 {
    font: $second-section-font;
    white-space: nowrap;
    // position: absolute;
  }
}

// ==============================================
// BLACK SECTION
// ==============================================
.black-section {
  background-color: $black;
  border-radius: 10px !important;
  overflow: hidden;
  margin: 0 8px;
}

// ==============================================
// THIRD SECTION
// ==============================================

.third-section {
  @include black-section();
  padding: 45px 0;

  &>* {
    color: $white;
  }

  h1:nth-child(1) {
    @include title();
  }

  @keyframes glitch {

    0%,
    20%,
    40%,
    100% {
      opacity: 1;
    }

    21%,
    22%,
    39%,
    50%,
    99% {
      opacity: 0.2;
    }
  }

  h1:nth-child(2) {
    font: 300 2.8rem "Chakra Petch";
    text-transform: uppercase;
    background-color: $white;
    color: $black;
    display: inline;
    padding: 10px 50px;
    border-radius: 0 10px 10px 0;
    position: relative;
    // top: 40px;

    svg:nth-child(2) {
      position: absolute;
      top: -12px;
      left: -0.8px;
      transform: rotate(180deg);
    }

    svg:nth-child(3) {
      position: absolute;
      bottom: -12.2px;
      left: 0px;
      transform: rotate(-90deg);
    }

    transition: all 0.2s ease;

    svg:nth-child(1) {
      transition: all 0.2s ease;
      margin-left: 10px;
    }

    &:hover {
      padding: 10px 60px;

      svg:nth-child(1) {
        transform: rotate(45deg);
      }
    }
  }

  .ts_main-content {
    transition: all 0.3s ease;
    padding: 0 50px;

    h2 {
      text-transform: uppercase;
      font-size: calc(3rem + 1.895vw);
      font-weight: 400;
    }

    p {
      display: none;
      color: $gray;
    }

    &:hover {
      background-color: $white;
      color: $black;
      // font-size: 5rem;
      padding: 10px 70px;
      // border-radius: 10px 0 0 10px;

      p {
        display: inline;
        transition: all 0.3s ease;
        font-size: 1rem;
      }
    }
  }

  .swiper-slide {
    img {
      max-width: 30vw;
      aspect-ratio: 1/1;
      border-radius: 10px;
      border: 8px solid $white;
    }
  }
}

.plus-play {
  // display: grid;
  // grid-template-columns: repeat(5, 1fr);
  // grid-template-rows: repeat(3, 1fr);

  svg {
    transition: all 0.28s ease;

    &:hover {
      transform: rotate(0.25turn);
    }
  }
}

// ==============================================
// FOURTH SECTION
// ==============================================
.fourth-section {
  @include black-section();
  // text-align: center;

  // h1 {
  //   color: $black;
  //   background-color: $white;
  // }

  .fs_title {
    color: $black;
    background-color: $white;
    font-size: calc(3rem + 5vw);
    // display: inline;
    position: relative;
    text-align: center;
    padding: 20px 0px;

    // @mixin fs-title($l: 0, $r: 0, $rotate: 0deg) {
    @mixin fs-title($rotate: 0deg, $p: b, $rl: l) {
      position: absolute;
      transform: rotate($rotate);

      @if $p ==t {
        top: -12px;
      }

      @else {
        bottom: -12px;
      }

      @if $rl ==r {
        right: 0;
      }

      @else {
        left: -0.8px;
      }
    }

    svg:nth-child(1) {
      @include fs-title(90deg, t, r);
    }

    svg:nth-child(2) {
      @include fs-title(0deg, b, r);
    }

    svg:nth-child(3) {
      @include fs-title(180deg, t);
    }

    svg:nth-child(4) {
      @include fs-title(-90deg);
    }
  }

  .fs-main {
    // padding: 0 20px;

    .row {
      .fs-main-hover {
        border-image: url("../img/frame1.png") 150 / 89px;
        // margin: 0 10px;
        transition: opacity .3s ease;
        // opacity: 0;
        width: calc(100% / 12 *3);
        height: calc(100% / 12 *3);
        // height: calc();
        aspect-ratio: 1/1;
      }

      .fs-main-content {
        padding: 20px 40px;
        border-image: url("../img/frame1.png") 150 / 89px;

        h1 {
          font-size: calc(4rem + 2.5vw);
          font-weight: 900
        }

        div.hr {
          width: 100%;
          height: 3px;
          background-color: $white;
          margin: 10px;
        }

        p,
        h5 {
          font-weight: 200;
        }
      }

    }
  }
}

// .fs_main-content {

// }

// ==============================================
// FIFTH SECTION
// ==============================================

.fifth-section {
  @include black-section();
  padding-top: 60vh;
  padding-bottom: 10vh;
  border-radius: 0 0 10px 10px;
  position: relative;


  h1 {
    // font: 600 5rem "Chakra Petch";
    // padding: 0 50px;
    // background-color: $white;
    // color: $black;
    // display: inline-block;
    // border-radius: 0 10px 10px 0;
    @include title();
  }

  .container {
    .work-hover {
      background-color: $black;
      opacity: 0;
      // z-index: 1;
      width: 100%;
      height: 100%;
      transition: opacity 0.3s ease-in 0.2s;

      &:hover {
        opacity: 1;
        transition: opacity 0s;
      }
    }

    @mixin work-hover-wrapper {
      width: 101%;
      height: 101%;
      z-index: 10;
      position: absolute;
      display: grid;
      z-index: 0;
    }

    @mixin work-hover {
      display: block;
      overflow: hidden;
      position: relative;
      width: 100%;
      aspect-ratio: 16/9;
      border-radius: 2rem;
      border: 8px solid $white;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .main-work {
      @include work-hover();
      aspect-ratio: 16/8;

      .work-hover-wrapper {
        @include work-hover-wrapper();
        grid-template-columns: repeat(17, 1fr);
        grid-template-rows: repeat(8, 1fr);
      }
    }

    .more-work {
      // background-color: $gray;
      border: #ffffff62 1.1px solid;
      width: 100%;
      display: flex !important;

      // justify-content: center;
      // align-items: center;
      // height: 100%
      svg {
        transition: transform 1.4s ease-in-out;
        margin: auto !important;
      }

      svg:hover {
        transform: rotate(360deg);
      }

      p {
        font: 500 1.8rem "Chakra Petch", sans-serif;
        color: $white !important;
      }
    }

    .side-work {
      @include work-hover();
      aspect-ratio: 16/9;

      .work-hover-wrapper {
        @include work-hover-wrapper();
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
    }

    .work-des {
      &:hover a span {
        width: 100%;
      }

      a {
        color: $white;

        span {
          transition: all 0.2s ease-in;
          display: block;
          background-color: $white;
          width: 0%;
          height: 2px;
          border-radius: 2px;
        }
      }
    }
  }

  .fifth-transition {
    background-color: $white;
    width: 40vw;
    height: 100px;
    position: absolute;
    bottom: 0px;
    right: 0;
    border-radius: 10px 0 0 0;

    svg:nth-child(1) {
      position: absolute;
      bottom: -1px;
      left: -13px;
      transform: rotate(90deg);
    }

    svg:nth-child(2) {
      position: absolute;
      top: -12.4px;
      right: 0px;
      transform: rotate(90deg);
    }
  }
}

.fs-marquee{
  background-color: $black;
  border-radius: 10px !important;
  overflow: hidden;
  padding: 20px ;
  margin: 10px 8px;
  color: $white;
}

// ==============================================
// SIXTH SECTION
// ==============================================

.sixth-section {
  $skillcolor1: #222831;
  $skillcolor2: #6b9a9c;
  $skillcolor3: #dcdcdc;
  background-color: $white;

  h1 {
    font: $title-font;
  }

  .skill-slider {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 300%;
    gap: 2rem;
    // padding: 0 4rem 0 0;
    // white-space: no-wrap;

    @mixin skill-global($bg-color: #3e3e3e, $text-color: $white) {
      background-color: $bg-color;
      color: $text-color;
      width: 80%;
      padding: 2.3rem 2.3rem 1.5rem 2.3rem;
      overflow: hidden;
      border-radius: 3.5rem;
    }

    .skill {
      img {
        max-width: 250px;
        aspect-ratio: 1/1;
        border-radius: 100%;
      }

      p {
        font: 400 2.4rem "Chakra Petch", sans-serif;
        text-transform: uppercase;
      }

      h2 {
        font-size: 4rem;
        margin: 0;
      }
    }

    .skill:nth-child(2) {
      @include skill-global($skillcolor1);
    }

    .skill:nth-child(3) {
      @include skill-global($skillcolor2);
    }

    .skill:nth-child(4) {
      @include skill-global($skillcolor3, $black);
    }
  }
}