@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-display: swap;
  font-family: fk;
  font-style: normal;
  font-weight: 400;
  src: url(https://zulldevv.github.io/font/fk.woff2) format("woff2"), url(https://zulldevv.github.io/font/fk.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Monorama;
  font-style: normal;
  font-weight: 400;
  src: url(https://zulldevv.github.io/font/monorama.woff2) format("woff2"), url(https://zulldevv.github.io/font/monorama.woff) format("woff");
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Chakra Petch", sans-serif;
  list-style: none;
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
          appearance: none;
  display: none;
}

.main-section {
  margin: 8px;
  background: #121212;
  height: 98vh;
  border-radius: 10px;
  position: relative;
}
.main-section .container- {
  display: flex;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
}
.main-section .main-content {
  margin: auto;
}
.main-section .main-content h1 {
  color: #fefefe;
  font: 600 12rem "Chakra Petch", sans-serif;
  font-size: clamp(2rem, 4rem + 10vw, 12rem);
}
.main-section .main-content svg {
  margin-bottom: 1rem;
  animation: 10s ease-in-out infinite alternate rotate;
}
@media screen and (max-width: 768px) {
  .main-section .zull_svg {
    display: none;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(720deg);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.main-section .ms-hoverable {
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  grid-template-columns: repeat(38, 1fr);
  grid-template-rows: repeat(18, 1fr);
}
.main-section .ms-hoverable div {
  background-color: #fefefe;
  opacity: 0;
  transition: opacity 0.8s ease 0.4s;
}
.main-section .ms-hoverable div:hover {
  opacity: 1;
  transition: opacity 0s;
}

.cursor {
  border-radius: 100%;
  z-index: 1000000000000000000000;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  width: 35px;
  height: 35px;
  background-color: #fefefe;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.cursor-outline {
  border-radius: 100%;
  z-index: 1000000000000000000000;
  pointer-events: none;
  position: fixed;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  width: 45px;
  height: 45px;
  border: #fefefe 3px solid;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.hover {
  width: 55px;
  height: 55px;
}

.hoverO {
  width: 65px;
  height: 65px;
}

.hover-link {
  width: 75px;
  height: 75px;
}

.hover-text {
  width: 105px;
  height: 105px;
}

.hoverO-link {
  display: none;
}

.transition {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000000;
}

.loaded-finish.transition {
  z-index: -1000;
}

.transition div {
  width: 100vw;
  height: 14.2857142857vh;
  background-color: #fefefe;
  /* border: #121212 1px solid; */
  /* transition: all 1s ease-in-out; */
  transform: translateX(-100%);
}

.transition.loaded div:nth-child(1) {
  animation: loaderOut 0.9s ease-in-out 1 both, loaderIn 0.9s ease-in-out 4s both;
}

.transition.loaded div:nth-child(2) {
  animation: loaderOut 0.9s ease-in-out 0.2s 1 both, loaderIn 0.9s ease-in-out 4.2s both;
}

.transition.loaded div:nth-child(3) {
  animation: loaderOut 0.9s ease-in-out 0.4s 1 both, loaderIn 0.9s ease-in-out 4.4s both;
}

.transition.loaded div:nth-child(4) {
  animation: loaderOut 0.9s ease-in-out 0.6s 1 both, loaderIn 0.9s ease-in-out 4.6s both;
  /* display: flex; */
  text-align: center;
}

.transition.loaded div:nth-child(4) h1 {
  animation: fade 3s ease-in-out 1.6s 1 both;
}

.transition.loaded div:nth-child(5) {
  animation: loaderOut 0.9s ease-in-out 0.8s 1 both, loaderIn 0.9s ease-in-out 4.8s both;
}

.transition.loaded div:nth-child(6) {
  animation: loaderOut 0.9s ease-in-out 1s 1 both, loaderIn 0.9s ease-in-out 5s both;
}

.transition.loaded div:nth-child(7) {
  animation: loaderOut 0.9s ease-in-out 1.2s 1 both, loaderIn 0.9s ease-in-out 5.2s both;
}

@keyframes loaderIn {
  to {
    transform: translateX(100%);
  }
}
@keyframes loaderOut {
  to {
    transform: translateX(0);
  }
}
@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  z-index: 100000;
  padding: 25px;
  color: #fefefe;
  display: flex;
  flex-direction: column;
}

.loader-bar {
  margin-top: auto;
  width: 100%;
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.3882352941);
  border-radius: 20px;
  overflow: hidden;
}
.loader-bar div {
  transition: all 1.5s ease;
  height: 100%;
  width: 0%;
  border-radius: 20px;
  background-color: #fefefe;
}

.top {
  z-index: 10000000000000;
}
.top nav {
  background-color: #fefefe;
  padding: 20px 40px 20px 100px;
  transition: padding 0.4s ease;
  position: fixed;
  top: 0px;
  right: 0px;
  border-radius: 0 0 0 10px;
}
.top nav:hover {
  padding: 20px 40px 20px 120px;
}
.top nav svg:nth-child(1) {
  position: absolute;
  top: 8px;
  left: -13px;
}
.top nav svg:nth-child(2) {
  position: absolute;
  bottom: -13px;
  right: 8px;
}
.top nav .frame-svg {
  position: fixed;
  left: 8px;
  top: 7.4px;
  transform: rotate(270deg);
}
.top nav .frame-svg-r {
  position: fixed;
  right: 8px;
  bottom: 7.4px;
  transform: rotate(90deg);
}
.top nav .frame-svg-b {
  position: fixed;
  left: 7.4px;
  bottom: 8px;
  transform: rotate(180deg);
}
.top nav .frame {
  width: 100vw;
  height: 8px;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
}
.top nav .frame-r {
  width: 8px;
  height: 100vh;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  right: 0;
}
.top nav .frame-b {
  width: 100vw;
  height: 8px;
  background-color: #fefefe;
  position: fixed;
  bottom: 0;
  left: 0;
}
.top nav .frame-l {
  width: 8px;
  height: 100vh;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
}
.top nav .logo {
  width: 100px;
  height: 100px;
  background-color: #fefefe;
  border-radius: 0 0 10px 0;
  position: fixed;
  top: -100px;
  left: -100px;
  transition: top 0.2s ease-in-out 0.2s, left 0.2s ease-in-out 0.2s, width 0.2s ease-in 0.2s, height 0.2s ease-in 0.2s;
  display: flex;
}
.top nav .logo svg:nth-child(3) {
  position: absolute;
  bottom: -12.2px;
  left: 8px;
  transform: rotate(-90deg);
}
.top nav .logo svg:nth-child(2) {
  position: absolute;
  top: 7.4px;
  right: -13px;
  transform: rotate(-90deg);
}
.top nav .logo:hover {
  width: 110px;
  height: 200px;
}
.top nav .logo-active {
  top: 0;
  left: 0;
}
.top nav .logo-zull {
  color: #121212;
  font-family: "Chakra Petch";
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 93.769%;
  text-transform: uppercase;
  /* 1.99256rem */
}
.top nav .logo-zull span:nth-child(2) {
  color: #121212;
  letter-spacing: 0.21625rem;
}
.top nav:hover .burger div {
  opacity: 0.6;
}
.top nav div:nth-child(1) {
  width: 75%;
  margin-left: auto;
}
.top nav div:nth-child(2) {
  width: 60%;
  margin-left: auto;
}
.top nav:hover .burger div {
  width: 100%;
}
.top .burger {
  /* z-index: 1000; */
  width: 75px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s linear;
  gap: 8px;
  cursor: pointer;
}
.top .burger div {
  background-color: #121212;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  height: 6px;
}
@keyframes bounce-nav {
  0%, 20%, 50%, 80%, 100% {
    width: 100%;
  }
  40% {
    width: 130%;
  }
  60% {
    width: 115%;
  }
}
.top .burger-body {
  position: fixed;
  height: 100vh;
  /* width: 50%; */
  top: 0;
  right: 0;
  background-color: #fefefe;
  mix-blend-mode: normal;
  transform: translate(100%);
  transition: all 0.4s ease-in-out;
  padding: 100px 100px 0 100px;
}
.top .burger-body ul li div {
  position: relative;
  top: -35px;
  left: -7px;
  width: 0px;
  height: 20px;
  background-color: #c0c0c0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.top .burger-body ul li:hover div {
  width: 50%;
}
.top .burger-body ul li p,
.top .burger-body ul li a {
  font-size: 1.5rem;
  color: #121212;
  font-weight: 600;
}
.top .burger-body svg:nth-child(1) {
  position: absolute;
  top: 8px;
  left: -12.2px;
}
.top .burger-body svg:nth-child(2) {
  position: absolute;
  bottom: 8px;
  left: -12.2px;
  transform: rotate(90deg);
}
.top .burger-body.active {
  transform: translate(0%);
}
@keyframes wave {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2.6);
  }
  100% {
    transform: scaleY(1);
  }
}
.top .sound-bar-wrapper {
  background-color: #fefefe;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 8px;
  bottom: 30px;
  border-radius: 10px 0 0 10px;
  display: flex;
  gap: 1.5px;
  align-items: center;
  justify-content: center;
  transform: translateX(110%);
  transition: transform 0.4s ease;
}
.top .sound-bar-wrapper div {
  background-color: #121212;
  width: 3.2px;
  height: 5px;
}
.top .sound-bar-wrapper.on div:nth-child(1) {
  animation: wave 1.5s linear infinite;
}
.top .sound-bar-wrapper.on div:nth-child(2) {
  animation: wave 1.5s linear infinite 0.4s;
}
.top .sound-bar-wrapper.on div:nth-child(3) {
  animation: wave 1.5s linear infinite 0.8s;
}
.top .sound-bar-wrapper.on div:nth-child(4) {
  animation: wave 1.5s linear infinite 1.2s;
}
.top .sound-bar-wrapper svg:nth-child(5) {
  position: absolute;
  top: -12.2px;
  right: 0;
  transform: rotate(90deg);
}
.top .sound-bar-wrapper svg:nth-child(6) {
  position: absolute;
  bottom: -12.2px;
  right: 0;
}
.top .sound-bar-wrapper.active {
  transform: translateX(0%);
}
.top .sound-bar-wrapper.on:hover #soundOnText {
  opacity: 1;
}
.top .sound-bar-wrapper.off:hover #soundOffText {
  opacity: 1;
}
.top .sound-bar-wrapper #soundOnText,
.top .sound-bar-wrapper #soundOffText {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 15%;
  left: -30px;
  color: #9b9b9b;
}

.back-top {
  position: fixed;
  bottom: 8px;
  left: 8px;
  border-radius: 10px;
  background-color: #121212;
  padding: 10px;
}

.second-section {
  color: #121212;
  min-height: 100vh;
  overflow: hidden;
  padding: 45px;
  display: flex;
  align-items: center;
}
.second-section h1 {
  font: 300 10rem "Chakra Petch", sans-serif;
  font-size: clamp(2rem, 14vw, 10rem);
}

#black-section {
  background-color: #121212;
  border-radius: 10px !important;
  overflow: hidden;
  margin: 0 8px;
}

.third-section {
  width: 99vw;
  color: #fefefe;
  min-height: 100vh;
  margin: 0 auto;
  padding: 45px 0;
}
.third-section > * {
  color: #fefefe;
}
.third-section h1:nth-child(1) {
  font: 400 4rem "Chakra Petch";
  font-size: clamp(2.5rem, 5vw, 9rem);
  text-transform: uppercase;
  color: #fefefe;
  font-size: clamp(2.5rem, 5vw, 9rem);
}
.third-section h1:nth-child(1) span {
  font: 300 4rem "fk";
  font-size: clamp(2.5rem, 5vw, 9rem);
  margin: -1vw;
}
.third-section h1:nth-child(1) span span:nth-child(1) {
  animation: glitch 3s infinite 1s;
}
.third-section h1:nth-child(1) span span:nth-child(2) {
  animation: glitch 2.6s infinite 0.8s;
}
.third-section h1:nth-child(1) span span:nth-child(3) {
  animation: glitch 3.2s infinite 1s;
}
.third-section h1:nth-child(1) span span:nth-child(4) {
  animation: glitch 2.2s infinite 1.6s;
}
.third-section h1:nth-child(1) span span:nth-child(5) {
  animation: glitch 2s infinite 2s;
}
.third-section h1:nth-child(1) span span:nth-child(6) {
  animation: glitch 1.2s infinite 1s;
}
.third-section h1:nth-child(1) span span:nth-child(7) {
  animation: glitch 2s infinite 3s;
}
.third-section h1:nth-child(1) span span:nth-child(8) {
  animation: glitch 2.3s infinite 1.2s;
}
.third-section h1:nth-child(1) span span:nth-child(9) {
  animation: glitch 1.2s infinite 4s;
}
.third-section h1:nth-child(1) span span:nth-child(10) {
  animation: glitch 1s infinite 2s;
}
.third-section h1:nth-child(1) span {
  font-size: clamp(2.5rem, 5vw, 9rem);
}
@keyframes glitch {
  0%, 20%, 40%, 100% {
    opacity: 1;
  }
  21%, 22%, 39%, 50%, 99% {
    opacity: 0.2;
  }
}
.third-section h1:nth-child(2) {
  font: 300 2.8rem "Chakra Petch";
  text-transform: uppercase;
  background-color: #fefefe;
  color: #121212;
  display: inline;
  padding: 10px 50px;
  border-radius: 0 10px 10px 0;
  position: relative;
  transition: all 0.2s ease;
}
.third-section h1:nth-child(2) svg:nth-child(2) {
  position: absolute;
  top: -12px;
  left: -0.8px;
  transform: rotate(180deg);
}
.third-section h1:nth-child(2) svg:nth-child(3) {
  position: absolute;
  bottom: -12.2px;
  left: 0px;
  transform: rotate(-90deg);
}
.third-section h1:nth-child(2) svg:nth-child(1) {
  transition: all 0.2s ease;
  margin-left: 10px;
}
.third-section h1:nth-child(2):hover {
  padding: 10px 60px;
}
.third-section h1:nth-child(2):hover svg:nth-child(1) {
  transform: rotate(45deg);
}
.third-section .ts_main-content {
  transition: all 0.3s ease;
}
.third-section .ts_main-content h2 {
  text-transform: uppercase;
  font-size: clamp(2rem, 5vw, 5rem);
  font-weight: 400;
}
.third-section .ts_main-content p {
  display: none;
  color: #9b9b9b;
}
.third-section .ts_main-content:hover {
  background-color: #fefefe;
  color: #121212;
  padding: 10px 70px;
}
.third-section .ts_main-content:hover p {
  display: inline;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.plus-play svg {
  transition: all 0.28s ease;
}
.plus-play svg:hover {
  transform: rotate(0.25turn);
}

.fourth-section {
  padding-top: 30vh !important;
  width: 99vw;
  color: #fefefe;
  min-height: 100vh;
  margin: 0 auto;
}
.fourth-section .fs_title {
  color: #121212;
  background-color: #fefefe;
  font-size: clamp(2rem, 5vw, 8rem);
  position: relative;
  text-align: center;
  padding: 20px 0px;
}
.fourth-section .fs_title svg:nth-child(1) {
  position: absolute;
  transform: rotate(90deg);
  top: -12px;
  right: 0;
}
.fourth-section .fs_title svg:nth-child(2) {
  position: absolute;
  transform: rotate(0deg);
  bottom: -12px;
  right: 0;
}
.fourth-section .fs_title svg:nth-child(3) {
  position: absolute;
  transform: rotate(180deg);
  top: -12px;
  left: -0.8px;
}
.fourth-section .fs_title svg:nth-child(4) {
  position: absolute;
  transform: rotate(-90deg);
  bottom: -12px;
  left: -0.8px;
}
.fourth-section .fs-main .row .fs-main-hover {
  -o-border-image: url("../../img/frame1.png") 150/89px;
     border-image: url("../../img/frame1.png") 150/89px;
  transition: opacity 0.3s ease;
  width: 20.8333333333%;
  height: 20.8333333333%;
  aspect-ratio: 1/1;
}
.fourth-section .fs-main .row .fs-main-content {
  padding: 20px 40px;
  -o-border-image: url("../../img/frame1.png") 150/89px;
     border-image: url("../../img/frame1.png") 150/89px;
}
.fourth-section .fs-main .row .fs-main-content h1 {
  font-size: calc(3rem + 3vw);
  font-weight: 900;
}
.fourth-section .fs-main .row .fs-main-content div.hr {
  width: 100%;
  height: 3px;
  background-color: #fefefe;
  margin: 10px;
}
.fourth-section .fs-main .row .fs-main-content p,
.fourth-section .fs-main .row .fs-main-content h5 {
  font-weight: 200;
}

.fifth-section {
  width: 99vw;
  color: #fefefe;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 60vh;
  padding-bottom: 10vh;
  border-radius: 0 0 10px 10px;
  position: relative;
}
.fifth-section h1 {
  font: 400 4rem "Chakra Petch";
  font-size: clamp(2.5rem, 5vw, 9rem);
  text-transform: uppercase;
  color: #fefefe;
}
.fifth-section h1 span {
  font: 300 4rem "fk";
  font-size: clamp(2.5rem, 5vw, 9rem);
  margin: -1vw;
}
.fifth-section h1 span span:nth-child(1) {
  animation: glitch 3s infinite 1s;
}
.fifth-section h1 span span:nth-child(2) {
  animation: glitch 2.6s infinite 0.8s;
}
.fifth-section h1 span span:nth-child(3) {
  animation: glitch 3.2s infinite 1s;
}
.fifth-section h1 span span:nth-child(4) {
  animation: glitch 2.2s infinite 1.6s;
}
.fifth-section h1 span span:nth-child(5) {
  animation: glitch 2s infinite 2s;
}
.fifth-section h1 span span:nth-child(6) {
  animation: glitch 1.2s infinite 1s;
}
.fifth-section h1 span span:nth-child(7) {
  animation: glitch 2s infinite 3s;
}
.fifth-section h1 span span:nth-child(8) {
  animation: glitch 2.3s infinite 1.2s;
}
.fifth-section h1 span span:nth-child(9) {
  animation: glitch 1.2s infinite 4s;
}
.fifth-section h1 span span:nth-child(10) {
  animation: glitch 1s infinite 2s;
}
.fifth-section .container .work-hover {
  background-color: #121212;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in 0.2s;
}
.fifth-section .container .work-hover:hover {
  opacity: 1;
  transition: opacity 0s;
}
.fifth-section .container .main-work {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 2rem;
  aspect-ratio: 16/8;
}
.fifth-section .container .main-work img {
  width: 100%;
  height: 100%;
}
.fifth-section .container .main-work .work-hover-wrapper {
  width: 101%;
  height: 101%;
  z-index: 10;
  position: absolute;
  display: grid;
  z-index: 0;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.fifth-section .container .more-work {
  border: rgba(255, 255, 255, 0.3843137255) 1.1px solid;
  width: 100%;
  display: flex !important;
}
.fifth-section .container .more-work svg {
  transition: transform 1.4s ease-in-out;
  margin: auto !important;
}
.fifth-section .container .more-work svg:hover {
  transform: rotate(360deg);
}
.fifth-section .container .more-work p {
  font: 500 1.8rem "Chakra Petch", sans-serif;
  color: #fefefe !important;
}
.fifth-section .container .side-work {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 2rem;
  aspect-ratio: 16/9;
}
.fifth-section .container .side-work img {
  width: 100%;
  height: 100%;
}
.fifth-section .container .side-work .work-hover-wrapper {
  width: 101%;
  height: 101%;
  z-index: 10;
  position: absolute;
  display: grid;
  z-index: 0;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.fifth-section .container .work-des:hover a span {
  width: 100%;
}
.fifth-section .container .work-des a {
  color: #fefefe;
}
.fifth-section .container .work-des a span {
  transition: all 0.2s ease-in;
  display: block;
  background-color: #fefefe;
  width: 0%;
  height: 2px;
  border-radius: 2px;
}
.fifth-section .fifth-transition {
  background-color: #fefefe;
  width: 40vw;
  height: 100px;
  position: absolute;
  bottom: 0px;
  right: 0;
  border-radius: 10px 0 0 0;
}
.fifth-section .fifth-transition svg:nth-child(1) {
  position: absolute;
  bottom: -1px;
  left: -13px;
  transform: rotate(90deg);
}
.fifth-section .fifth-transition svg:nth-child(2) {
  position: absolute;
  top: -12.4px;
  right: 0px;
  transform: rotate(90deg);
}

.fs-marquee {
  background-color: #121212;
  border-radius: 10px !important;
  overflow: hidden;
  padding: 50px 0;
  margin: 10px 8px;
  color: #fefefe;
  white-space: nowrap;
}

.sixth-section {
  padding-top: 30vh !important;
  background-color: #fefefe;
}
.sixth-section h1 {
  font: 600 7rem "Chakra Petch", sans-serif;
}
.sixth-section .skill-slider {
  display: flex;
  width: 350%;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.sixth-section .skill-slider .skill img {
  max-width: 300px;
  aspect-ratio: 1/1;
  border-radius: 100%;
}
.sixth-section .skill-slider .skill p {
  font: 400 2.4rem "Chakra Petch", sans-serif;
  text-transform: uppercase;
}
.sixth-section .skill-slider .skill h2 {
  font-size: 4rem;
  margin: 0;
}
.sixth-section .skill-slider .skill:nth-child(2) {
  background-color: #222831;
  color: #fefefe;
  width: 80%;
  padding: 2.3rem 2.3rem 1.5rem 2.3rem;
  overflow: hidden;
  border-radius: 3.5rem;
}
.sixth-section .skill-slider .skill:nth-child(3) {
  background-color: #6b9a9c;
  color: #fefefe;
  width: 80%;
  padding: 2.3rem 2.3rem 1.5rem 2.3rem;
  overflow: hidden;
  border-radius: 3.5rem;
}
.sixth-section .skill-slider .skill:nth-child(4) {
  background-color: #dcdcdc;
  color: #121212;
  width: 80%;
  padding: 2.3rem 2.3rem 1.5rem 2.3rem;
  overflow: hidden;
  border-radius: 3.5rem;
}

.seventh-section {
  background-color: #121212;
  border-radius: 10px;
  margin: 8px;
  padding: 10vh 0;
}
.seventh-section h1 {
  color: #fefefe;
  font-size: calc(2rem + 3vw);
  text-transform: uppercase;
}
.seventh-section .contact-box {
  padding: 20px;
  color: #fefefe;
  border-radius: 20px;
  border: 1px #fefefe solid;
}
.seventh-section .contact-box input,
.seventh-section .contact-box textarea {
  background-color: #121212;
  color: #fefefe;
}
.seventh-section .contact-box label {
  color: #fefefe !important;
}
.seventh-section .contact-box .custom-radio {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
  cursor: pointer;
}

footer {
  background-color: #9b9b9b;
  color: #121212;
  margin: 0 8px;
  border-radius: 10px;
  padding: 40px 0;
}/*# sourceMappingURL=main.css.map */